<table class="ui fixed center aligned table">
    <thead>
    <tr>
        <th>Trainer</th>
        <th>Date</th>
        <th>Time</th>
        <th>Edit</th>
    </tr>
    </thead>
    {{#each bookingList}}
    <tbody>
    <div class="ui bulleted list">
        <td>{{trainerFirstName}} {{trainerLastName}}</td>
        <td>{{bookingDate}}</td>
        <td>{{bookingTime}}</td>
        <td>
            <a href="/dashboard/updateBooking/{{bookingId}}">
                <i class="large blue edit icon"></i></a>
            <a href="/dashboard/removeBooking/{{bookingId}}">
                <i class="large red trash icon"></i></a>
        </td>
    </div>
    </tbody>
    {{/each}}
</table>