<table class="ui fixed center aligned table">
    <thead>
    <tr>
        <th>
            {{#if member}}
                Trainer
            {{else}}
                Member
            {{/if}}
        </th>
        <th>Date</th>
        <th>Time</th>
        <th>Edit</th>
    </tr>
    </thead>
    {{#each bookingList}}
    <tbody>
    <div class="ui bulleted list">
        <td>
            {{#if ../member}}
                {{trainerFirstName}} {{trainerLastName}}
            {{else}}
                {{memberFirstName}} {{memberLastName}}
            {{/if}}
        </td>
        <td>{{bookingDate}}</td>
        <td>{{bookingTime}}</td>
        <td>
            {{#if ../member}}
                <a href="/dashboard/{{trainerId}}/updateBooking/{{bookingId}}">
                    <i class="large blue edit icon"></i></a>
                <a href="/dashboard/{{trainerId}}/removeBooking/{{bookingId}}">
                    <i class="large red trash icon"></i></a>
            {{else}}
                <a href="/trainerDashboard/{{memberId}}/updateBooking/{{bookingId}}">
                    <i class="large blue edit icon"></i></a>
                <a href="/trainerDashboard/{{memberId}}/removeBooking/{{bookingId}}">
                    <i class="large red trash icon"></i></a>
            {{/if}}
        </td>
    </div>
    </tbody>
    {{/each}}
</table>