{{#each classList}}
    <table class="ui table">
        <div class="ui bulleted list">
            <tbody>
            <tr>
                <td class="fourteen wide">

                    <div class="ui accordian">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            {{className}}
                        </div>
                        <div class="content">
                            <p class="transition hidden">
                                <br>
                                Difficulty: {{difficultyLevel}}
                                <br>
                                {{#each sessions}}
                                    <br>
                                    Date: {{date}} &nbsp; Time: {{../classTime}}
                                    &nbsp; Capacity: {{currentCapacity}}/{{maxCapacity}}
                                    <br>
                                {{/ each}}
                            </p>
                        </div>
                    </div>

                </td>
                {{#if ../trainer}}
                    <td class="one wide right aligned">
                        <a href="/trainerDashboard/updateClass/{{classId}}">
                            <i class="large blue edit icon"></i>
                        </a>
                    </td>
                    <td class=" one wide right aligned">
                        <a href="/trainerDashboard/removeClass/{{classId}}">
                            <i class="large red trash icon"></i>
                        </a>
                    </td>
                {{/if}}
                {{#unless ../trainer}}
                    <td class="one wide right aligned">
                        <a href="/dashboard/enroll/{{classId}}">
                            <i class="large blue add user icon"></i>
                        </a>
                    </td>
                {{/unless}}
            </tr>
            </tbody>
        </div>
    </table>
{{/each}}