{{#if updatedBooking}}
    <form class="ui stacked segment form" name="editBooking" action="/dashboard/editBooking/{{updatedBooking.bookingId}}" method="POST">
{{else}}
    <form class="ui stacked segment form" name="addNewBooking" action="/dashboard/addNewBooking" method="POST">
{{/if}}

    <div class="three fields">
        <div class="field">
            <label> Trainer </label>
            {{#if updatedBooking}}
                <select class="ui fluid dropdown" name="newTrainerId">
                    <option value="{{updatedBooking.trainerId}}">{{updatedBooking.trainerFirstName}} {{updatedBooking.trainerLastName}}</option>
                </select>
            {{else}}
                <select class="ui fluid dropdown" name="trainerId">
                    {{#each trainerList}}
                        <option value="{{trainerId}}">{{firstName}} {{lastName}}</option>
                    {{/each}}
                </select>
            {{/if}}
        </div>
        <div class="field">
            <label> Date </label>
            <div class="ui calendar" id="bookingDateCalendar">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date" name="bookingDate" required>
                </div>
            </div>
        </div>
        <div class="field">
            <label> Time </label>
            <div class="ui calendar" id="bookingTimeCalendar">
                <div class="ui input left icon">
                    <i class="time icon"></i>
                    <input type="text" placeholder="Time" name="bookingTime" required>
                </div>
            </div>
        </div>
    </div>
    </div>

{{#if updatedBooking}}
    <button class="ui blue submit button"> Update Booking </button>
{{/if}}
{{#unless updatedBooking}}
    <button class="ui blue submit button"> Create Booking </button>
{{/unless}}

</form>

<script>
    $(".ui.fluid.dropdown").dropdown({})
</script>

<script>
    $(function(){
        $('#bookingDateCalendar').calendar(
                {type: 'date'}
        );
    });
</script>
<!--//code to allow calendar to popup, when selected, with dates -->
<script>
    $(function() {
        $('#bookingTimeCalendar').calendar(
                {type: 'time'}
        );
    });
</script>
<!--//code to allow calendar to popup, when selected, with times -->
