{{#unless trainer}}
    {{> member-menu id="classes"}}
{{/unless}}
{{#if trainer}}
    {{> trainer-menu id="classes"}}
{{/if}}
<!--Toggles navigation bars depending on who views the page-->

<section class="ui raised segment">

{{#if trainer}}
    {{> new-class}}
{{/if}}

    {{#each classList}}
        <table class="ui table">
            <div class="ui bulleted list">
            <tbody>
                    <tr>
                        <td class="fourteen wide">

                            <div class="ui accordian">
                                <div class="title">
                                    <i class="dropdown icon"></i>
                                    {{className}}
                                </div>
                                <div class="content">
                                    <p class="transition hidden">
                                    <br>
                                    Capacity: {{currentCapacity}}/{{maxCapacity}}
                                    <br>
                                    Difficulty: {{difficultyLevel}}
                                    <br>
                                    Duration: {{duration}}
                                    <br>
                                    Start Date: {{startDate}}
                                    </p>
                                </div>
                            </div>

                        </td>
                        <td class=" one wide right aligned">
                            <a href="/trainerDashboard/deleteMember/{{id}}">
                                <i class="large red trash icon"></i>
                            </a>
                        </td>
                    </tr>
            </tbody>
            </div>
        </table>
    {{/each}}
</section>

<script>
    $(function(){
        $('.ui.accordian').accordion();
    });
//    Code to expand and close accordion
</script>